<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
</head>
<body>
    <h2 align="center">管理员登录页面</h2>
    <form id="adminForm" name="adminForm" th:action="@{/admin/loginSuccessOrFail}" method="post">
        <table th:align="center">
            <tr>
                <td>用户名:</td>
                <td>
                    <input th:type="text" name="username">
                </td>
            </tr>
            <tr>
                <td>密码:</td>
                <td>
                    <input th:type="text" name="password">
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/user/login}">返回用户登录页面</a>
                </td>
                <td>
                    <input th:type="submit" name="submit" value="登录">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
